div.bg{
  background-color: #000;
}
h1 {
  color: #ffffff; text-align: left; font: 80px Montserrat, sans-serif; 
}
h2 {
  color: #ffffff; text-align: left; font: 70px Montserrat, sans-serif; 
}
h3{
  color: ##B8FB59; text-align: left; font: 70px Montserrat, sans-serif;
}
